.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	/*background:url('icons/reload.png') no-repeat center center;*/
    background:none;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}
.icon-download{
	background:url('icons/download.gif') no-repeat center center;
}


.icon-book{
    background:url('icons/book.png') no-repeat center center;
}
.icon-page{
    background:url('icons/page.png') no-repeat center center;
}
.icon-key{
    background:url('icons/key.png') no-repeat center center;
}

/***站点信息库***/
.icon-zdxxk { background:url('icons/zdxxk.png') no-repeat center center;}
/***建筑信息库***/
.icon-jzxxk { background:url('icons/jzxxk.png') no-repeat center center;}
/***需求信息库***/
.icon-xqxxk { background:url('icons/xqxxk.png') no-repeat center center;}
/***计划信息库***/
.icon-jhxxk { background:url('icons/jhxxk.png') no-repeat center center;}
/***建设信息库***/
.icon-jsxxk { background:url('icons/jsxxk.png') no-repeat center center;}
/***规划统计分析***/
.icon-ghtjfx { background:url('icons/ghtjfx.png') no-repeat center center;}


/***立项管理***/
.icon-lxgl { background:url('icons/lxgl.png') no-repeat center center;}
/***可研管理***/
.icon-kygl { background:url('icons/kygl.png') no-repeat center center;}
/***初设管理***/
.icon-csgl { background:url('icons/csgl.png') no-repeat center center;}
/***项目管理***/
.icon-xmgl { background:url('icons/xmgl.png') no-repeat center center;}
/***台帐管理***/
.icon-tzgl { background:url('icons/tzgl.png') no-repeat center center;}
/***投资分析***/
.icon-tzfx { background:url('icons/tzfx.png') no-repeat center center;}


/***任务分配***/
.icon-rwfp { background:url('icons/rwfp.png') no-repeat center center;}
/***勘查管理***/
.icon-rwfp { background:url('icons/kcgl.png') no-repeat center center;}
/***审核评估***/
.icon-rwfp { background:url('icons/shpg.png') no-repeat center center;}
/***勘查统计***/
.icon-rwfp { background:url('icons/kctj.png') no-repeat center center;}


/***方案上传***/
.icon-fasc { background:url('icons/fasc.png') no-repeat center center;}
/***方案智能评审***/
.icon-faznps { background:url('icons/faznps.png') no-repeat center center;}
/***方案变更管理***/
.icon-fabggl { background:url('icons/fabggl.png') no-repeat center center;}
/***概预算管理***/
.icon-gysgl { background:url('icons/gysgl.png') no-repeat center center;}
/***统计分析***/
.icon-tjfx { background:url('icons/tjfx.png') no-repeat center center;}


/***站点信息管理***/
.icon-zdxxgl { background:url('icons/zdxxgl.png') no-repeat center center;}
/***站点进度维护***/
.icon-zdjdwh { background:url('icons/zdjdwh.png') no-repeat center center;}

/***实施计划***/
.icon-ssjh { background:url('icons/ssjh.png') no-repeat center center;}
/***实施进度***/
.icon-ssjd { background:url('icons/ssjd.png') no-repeat center center;}
/***监理日志***/
.icon-jlrz { background:url('icons/jlrz.png') no-repeat center center;}
/***监理周报***/
.icon-jlzb { background:url('icons/jlzb.png') no-repeat center center;}

/***工序规范维护***/
.icon-gxgfwh { background:url('icons/gxgfwh.png') no-repeat center center;}
/***工序检查***/
.icon-gxjc { background:url('icons/gxjc.png') no-repeat center center;}
/***质量通报***/
.icon-zltb { background:url('icons/zltb.png') no-repeat center center;}

/***安全检查***/
.icon-aqjc { background:url('icons/aqjc.png') no-repeat center center;}

/***考勤管理***/
.icon-kqgl { background:url('icons/kqgl.png') no-repeat center center;}
/***定时定位***/
.icon-dsdw { background:url('icons/dsdw.png') no-repeat center center;}

/***红黄牌发放***/
.icon-hhpff { background:url('icons/hhpff.png') no-repeat center center;}
/***监理考核填报***/
.icon-jlkhtb { background:url('icons/jlkhtb.png') no-repeat center center;}
/***考核统计***/
.icon-khtj { background:url('icons/khtj.png') no-repeat center center;}


/***测试报告上传***/
.icon-csbgsc { background:url('icons/csbgsc.png') no-repeat center center;}
/***测试评审管理***/
.icon-cspsgl { background:url('icons/cspsgl.png') no-repeat center center;}
/***测试统计***/
.icon-cstj { background:url('icons/cstj.png') no-repeat center center;}


/***终端验收管理***/
.icon-zdysgl { background:url('icons/zdysgl.png') no-repeat center center;}
/***验收文档管理***/
.icon-yswdgl { background:url('icons/yswdgl.png') no-repeat center center;}
/***验收评审管理***/
.icon-yspsgl { background:url('icons/yspsgl.png') no-repeat center center;}
/***交维管理***/
.icon-jwgl { background:url('icons/jwgl.png') no-repeat center center;}


/***站点文档资料管理***/
.icon-zdwdzlgl { background:url('icons/zdwdzlgl.png') no-repeat center center;}
/***项目文档资料管理***/
.icon-xmwdzlgl { background:url('icons/xmwdzlgl.png') no-repeat center center;}


/***设备基础资料***/
.icon-sbjczl { background:url('icons/sbjczl.png') no-repeat center center;}
/***设备中标管理***/
.icon-sbzbgl { background:url('icons/sbzbgl.png') no-repeat center center;}
/***合同管理***/
.icon-htgl { background:url('icons/htgl.png') no-repeat center center;}
/***可研规模***/
.icon-kygm { background:url('icons/kygm.png') no-repeat center center;}
/***到货监控***/
.icon-dhjk { background:url('icons/dhjk.png') no-repeat center center;}
/***单站物资管控***/
.icon-dzwzgk { background:url('icons/dzwzgk.png') no-repeat center center;}
/***项目物资统计***/
.icon-xmwztj { background:url('icons/xmwztj.png') no-repeat center center;}
/***二维码应用***/
.icon-ewmyy { background:url('icons/ewmyy.png') no-repeat center center;}


/***造价分析***/
.icon-zjfx { background:url('icons/zjfx.png') no-repeat center center;}
/***项目投资效益分析***/
.icon-xmtzxyfx { background:url('icons/xmtzxyfx.png') no-repeat center center;}
/***工程施工质量分析***/
.icon-gcsgzlfx { background:url('icons/gcsgzlfx.png') no-repeat center center;}
/***现网数据挖掘分析***/
.icon-xwsjwjfx { background:url('icons/xwsjwjfx.png') no-repeat center center;}