.tabs-container{
	overflow:hidden;
}
.tabs-header{
	border:1px solid #AED0EA;
	border-bottom-width:0;
	background:#deedf7 url('images/ui-bg_highlight-soft_100_deedf7_1x100.png') repeat-x 50% 50%;
	position:relative;
	overflow:hidden;
	padding:0px;
	padding-top:2px;
	overflow:hidden;
}
.tabs-header-plain{
	border:0px;
	background:transparent;
}
.tabs-scroller-left,.tabs-scroller-right{
	position:absolute;
	left:0px;
	top:auto;
	bottom:0;
	width:18px;
	height:25px;
	border:1px solid #AED0EA;
	font-size:1px;
	display:none;
	cursor:pointer;
	background:url('images/ui-icons_2694e8_256x240.png') no-repeat -80px -188px;
}
.tabs-scroller-right{
	left:auto;
	right:0;
	background-position:-48px -188px;
}
.tabs-tool{
	position:absolute;
	top:-1px;
	border:1px solid #AED0EA;
	padding:1px;
	overflow:hidden;
}
.tabs-header-plain .tabs-scroller-left{
	top:auto;
	bottom:0;
	height:25px!important;
	height:27px;
	border:1px solid #AED0EA;
	background-position:-80px -187px;
}
.tabs-header-plain .tabs-scroller-right{
	top:auto;
	bottom:0;
	height:25px!important;
	height:27px;
	border:1px solid #AED0EA;
	background-position:-48px -187px;
}
.tabs-header-plain .tabs-tool{
	top:2px;
	padding-top:0;
}
.tabs-scroller-over{
}
.tabs-wrap{
	position:relative;
	left:0px;
	overflow:hidden;
	width:100%;
	margin:0px;
	padding:0px;
}
.tabs-scrolling{
	margin-left:18px;
	margin-right:18px;
}
.tabs-disabled{
	opacity:0.3;
	filter:alpha(opacity=30);
}
.tabs{
	list-style-type:none;
	height:26px;
	margin:0px;
	padding:0px;
	padding-left:4px;
	font-size:12px;
	width:5000px;
	border:1px solid #AED0EA;
	border-width:0 0 1px 0;
}
.tabs li{
	float:left;
	display:inline-block;
	margin-right:4px;
	margin-bottom:-1px;
	padding:0;
	position:relative;
	border:1px solid #AED0EA;
	border-radius:5px 5px 0 0;
}
.tabs li a.tabs-inner{
	display:inline-block;
	text-decoration:none;
	color:#2779AA;
	background:#d7ebf9 url('images/ui-bg_glass_80_d7ebf9_1x400.png') repeat-x 50% 50%;
	margin:0px;
	padding:0px 10px;
	height:25px;
	line-height:25px;
	text-align:center;
	white-space:nowrap;
	border-radius:5px 5px 0 0;
}
.tabs li a.tabs-inner:hover{
	background:#e4f1fb url('images/ui-bg_glass_100_e4f1fb_1x400.png') repeat-x 50% 50%;
}
.tabs li.tabs-selected{
	border:1px solid #AED0EA;
	border-bottom:1px solid #f2f5f7;
}
.tabs li.tabs-selected a.tabs-inner{
	color:#416AA3;
	font-weight:bold;
	background:#f2f5f7 url('images/ui-bg_highlight-hard_100_f2f5f7_1x100.png') repeat-x 50% 50%;
	outline: none;
}
.tabs li.tabs-selected a:hover.tabs-inner{
	cursor:default;
	pointer:default;
}
.tabs-p-tool{
	position:absolute;
	right:16px;
	top:7px;
	display:block;
}
.tabs-p-tool a{
	display:inline-block;
	font-size:1px;
	width:12px;
	height:12px;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.tabs-p-tool a:hover{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#8DB2E3;
	border-radius:2px;
}
.tabs-with-icon{
	padding-left:18px;
}
.tabs-icon{
	position:absolute;
	width:16px;
	height:16px;
	left:10px;
	top:5px;
}
.tabs-closable{
	padding-right:8px;
}
.tabs li a.tabs-close{
	position:absolute;
	font-size:1px;
	display:block;
	padding:0px;
	width:11px;
	height:11px;
	top:7px;
	right:5px;
	opacity:0.6;
	filter:alpha(opacity=60);
	background:url('images/tabs_close.gif') no-repeat 2px 2px;
}
.tabs li a:hover.tabs-close{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#8DB2E3;
	border-radius:2px;
}


.tabs-panels{
	margin:0px;
	padding:0px;
	border:1px solid #AED0EA;
	border-top-width:0;
	overflow:hidden;
}

.tabs-header-bottom{
	border-width:0 1px 1px 1px;
	padding:0 0 2px 0;
}
.tabs-header-bottom .tabs{
	border-width:1px 0 0 0;
}
.tabs-header-bottom .tabs li{
	margin:-1px 4px 0 0;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
.tabs-header-bottom .tabs li.tabs-selected{
	border:1px solid #AED0EA;
	border-top:1px solid #F2F5F7;
}
.tabs-header-bottom .tabs li a.tabs-inner{
	background-position:left top;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
.tabs-header-bottom .tabs-tool{
	top:0;
}
.tabs-header-bottom .tabs-scroller-left,.tabs-header-bottom .tabs-scroller-right{
	top:0;
	bottom:auto;
}
.tabs-panels-top{
	border-width:1px 1px 0 1px;
}

.tabs-header-left{
	float:left;
	border-width:1px 0 1px 1px;
	padding:0;
}
.tabs-header-left .tabs-wrap{
	height:100%;
}
.tabs-header-left .tabs{
	height:100%;
	padding:4px 0 0 4px;
	border-width: 0 1px 0 0;
}
.tabs-header-left .tabs li{
	display:block;
	width:100%;
	margin:0;
	margin-bottom:4px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	border-right-width:0;
	position:relative;
	right:1px;
}
.tabs-header-left .tabs li.tabs-selected{
	right:0px;
	border-right-width:0;
	border-bottom:1px solid #AED0EA;
}
* html .tabs-header-left .tabs li.tabs-selected{
	\right:-1px;
}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner{
	background:#f2f5f7;
}
.tabs-header-left .tabs li a.tabs-inner{
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	display:block;
	text-align:left;
}
.tabs-panels-right{
	float:right;
	border-width:1px 1px 1px 0;
}

.tabs-header-right{
	float:right;
	border-width:1px 1px 1px 0;
}
.tabs-header-right .tabs{
	border-width:0 0 0 1px;
	padding:4px 4px 0 0;
}
.tabs-header-right .tabs li{
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
	border-width:1px 1px 1px 0;
	left:0px;
	right:auto;
}
.tabs-header-right .tabs li.tabs-selected{
	left:-1px;
	right:auto;
	border-left-width:0;
	border-width:1px 1px 1px 0;
	border-bottom:1px solid #AED0EA;
}
.tabs-header-right .tabs li a.tabs-inner{
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}
.tabs-panels-left{
	float:left;
	border-width:1px 0 1px 1px;
}

.tabs-header-noborder,.tabs-panels-noborder{
	border:0px;
}
.tabs-header-plain{
	border:0px;
	background:transparent;
}
