@charset "utf-8";
body{margin:0;border:0;padding:0; text-align:left; font-family:arial; font-size:12px; color:#333; background:#fff;}
ul,ol,li,dl,dt,dd,form,input,div,p,b,span,u,i,img{ margin:0; padding:0; border:0;}
ul,li,dl{ list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight:bold;}
img{vertical-align: top; background-position: top; border:0 none;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline;}

/*login*/
.login-head{ background: url(../images/login-top-bg.png) repeat-x; width: 100%;  min-width:970px; height:81px; overflow:hidden; zoom:1;}
.login-logo{ float:left; padding-left:15px;}
.login-ad{ float:right; padding-right:15px;}
.login-main{ clear:both;}
.login-main .w1000{ width:1000px; margin:0 auto; overflow:hidden; zoom:1;}
.login-img{ float:left; width:410px; padding:60px 0 80px 20px;}
.login-box{ float:right; width:410px; margin:110px 20px 30px 0;}
.login-box h2{font:500 22px/24px "Microsoft Yahei"; padding:0 0 15px 6px;}
.login-box-a{ background:url(../images/login-box-a.png) no-repeat; width:410px; height:20px; overflow:hidden; zoom:1;}
.login-box-c{ background:url(../images/login-box-c.png) no-repeat; width:410px; height:94px; overflow:hidden; zoom:1;}
.login-box-b{ background:url(../images/login-box-b.jpg) repeat-y; width:410px; overflow:hidden; zoom:1;}
.login-box-b form{ padding:30px 65px;}
.login-box-b p{ padding:7px 0; height:30px; line-height:30px; overflow:hidden; zoom:1;}
.login-box-b p label{ display:block; float:left; width:55px; text-align:right; font-family:"Microsoft Yahei"; font-size:14px;}
.login-box-b p input.a{ border:0 none; margin-left:15px; padding:4px 4px 4px 32px; width:164px; height:22px; font-family:Arial;}
.login-box-b p input.user{ background:url(../images/login-user.png) no-repeat;}
.login-box-b p input.password{ background:url(../images/login-password.png) no-repeat;}
.login-box-b .memory{ padding:3px 0 10px 70px;}
.login-box-b .memory input{ margin:0; vertical-align:middle; margin-right:8px;}
.login-box-b .btn{ padding-left:70px;}
.login-box-b .btn input{ background:url(../images/login-btn.png) no-repeat; width:112px; height:38px; border:0 none; cursor:pointer;}

.login-foot{ background:#eee; border-top:1px solid #dedede; height:58px; line-height:58px; width:100%; min-width:970px; position:absolute; left:0; bottom:0;}
.login-foot span{ color:#666; padding-left:15px;}

