body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, button, input, textarea,
th, td { margin: 0; padding: 0; }

body { font-family: "微软雅黑"; font-size: 14px; color: #A7B7D0; }

.list { padding: 20px 0; }

.clear { clear: both; }

.list .inputWrap { float: left; margin-right: 20px; }

.list span { display: block; float: left; width: 120px; text-align: right; line-height: 26px; margin: 10px 5px; }

.list .normal, .list select, .list textarea { height: 26px; line-height: 26px; padding-left: 5px; color: #000; border: #bbb solid 1px; margin: 10px 0; border-radius: 4px; border: solid 1px #95b8e7; width: 193px; vertical-align: middle; }

.list .large { width: 550px; }

.list select { width: 200px; height: 28px; }

.list textarea { width: 550px; height: 78px; }

.radioWrap { float: left; width: 200px; line-height: 26px; margin: 10px 0; }

    .radioWrap input { cursor: pointer; position: relative; top: 2px; }

    .radioWrap label { margin-left: 5px; display: inline-block; width: 72px; cursor: pointer; }
