@charset "utf-8";
/* CSS Document */
body{font-size:12px; line-height:22px; color:#333; font-family:arial; text-align:left;}
body,div,ul,ol,li,dl,dt,dd,span,p,h1,h2,h3,img,form,table,tr,td,th,label{margin:0;padding:0;}
img{border:0 none;}
ul,ol,li{list-style-type:none;}
a{text-decoration:none; color:#333; cursor:pointer;}
a:hover{text-decoration:underline; color:#ba2636;}
.ovh{ overflow:hidden; zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
.cl{ clear:both;}
.din{ display:none;}
.space{clear:both;height:10px;overflow:hidden; zoom:1;}
 
/**
    author:梁水
    菜单图标弹框样式*/

    .dialog_ul_container {
        width:580px;float:left;
    }
        .dialog_ul_container > li {
            width:116px; float:left;
        }
.dialog_ul_container > li > a{
     display:block; height:16px; width:16px; margin-top:15px; cursor:pointer; background-repeat:no-repeat;
     margin-left:50px;
}
.btn-small,.btn-small > input {
            background:url(../images/button-img.png) no-repeat; border:0 none; height:26px;  vertical-align:middle; cursor:pointer; background-position:-23px -435px; width:72px; 
        }
            .btn-small,.btn-small > input:hover {
                color:#fff;
            }
            .btn-large,.btn-large > input {
            background:url(../images/button-img.png) no-repeat; border:0 none; height:26px;  vertical-align:middle; cursor:pointer; background-position:-105px -406px; width:95px; 
        }
            .btn-large,.btn-large > input:hover {
                color:#fff;
            }
.short span {
    margin-bottom:3px;
}

html, body {
    width: 100%;
    height: 100%;
}

/**end**/

/*head*/
.panel-top{background:url(../images/panel-top-bg.png) repeat-x; height:115px; width:100%; position:relative;}
.panel-logo a{display:block; background:url(../images/logo.png) no-repeat; position:absolute; top:7px; left:15px; width:147px; height:64px;}
.panel-login{position:absolute; right:20px; top:10px; height:20px; line-height:20px;}
.panel-login span.area{ font-size:12px; font-weight:bold; color:#f30; padding-right:10px;}
.panel-login a{background:url(../images/panel-top-img.png) no-repeat; padding:2px 0 0 22px;}
.panel-login a.ico1{background-position:0 -170px;}
.panel-login a.ico2{background-position:-109px -171px; margin-left:12px;}
.panel-login a:hover{color:#d7151e;}
.panel-nav{padding:40px 0 0 200px; height:38px; line-height:38px; overflow:hidden; zoom:1;}
.panel-nav ul{list-style-type:none; padding:0; margin:0;}
.panel-nav ul li{background:url(../images/panel-top-img.png) left -78px no-repeat; float:left; margin-right:5px; padding-left:3px; height:38px;}
.panel-nav ul li a{background:url(../images/panel-top-img.png) right -117px no-repeat; cursor:pointer; display:block; float:left; height:38px; padding:0 13px 0 10px;}
.panel-nav ul li a:hover{ color:#c15d00; }
.panel-nav ul li a span{background:url(../images/panel-top-img.png) -182px -196px no-repeat; cursor:pointer; display:block; padding-left:25px;}
.panel-nav ul li.hover{background:url(../images/panel-top-img.png) left 0 no-repeat; }
.panel-nav ul li.hover a{background:url(../images/panel-top-img.png) right -39px no-repeat; color:#fff; font-weight:bold;}
.panel-nav ul li.hover a span{background:url(../images/panel-top-img.png) -98px -196px no-repeat;}
.panel-sub-nav{margin-top:2px; height:34px; line-height:34px; padding:0 15px; color:#ccc; overflow:hidden; zoom:1;}
.panel-sub-nav a{ display:block; padding:0 6px; float:left; cursor:pointer;}
.panel-sub-nav em{ display:block; float:left; margin:0 5px; font-style:normal;}
.panel-sub-nav a:hover, .panel-sub-nav a.hover{ background:url(../images/panel-sub-nav-hover.png) center 7px no-repeat; cursor:pointer; color:#fff; text-decoration:none;}

/*footer*/
.footer{ background-color:#faf2e9; border-top:1px solid #e7d9c9; height:34px; line-height:34px; padding:0 15px; font-family:Arial;}
.foot-left{ float:left; color:#444; width:45%;}
.foot-right{float:right; color:#444; width:220px; background:url(../images/tel-icon.png) 0 8px no-repeat; padding-left:25px;}

/*sidebar*/
.sidebar-nav{ padding:0; margin:0;}
.sidebar-nav li{ border-top:1px solid #fff; border-bottom:solid 1px #fdd5b2; height:32px; line-height:32px; vertical-align:middle; padding:0 15px; cursor:pointer;}
.sidebar-nav li a{ padding-left:20px; cursor:pointer;}
.sidebar-nav li.hover, .sidebar-nav li:hover{ background:url(../images/sidebar-nav.png) repeat-x;}
.sidebar-nav li.hover a, .sidebar-nav li:hover a{ background:url(../images/sidebar-nav-icon.png) 0 1px no-repeat; text-decoration:none;}

/*tongyong*/
.tabs-panels iframe{ border:0 none;}
.tabs-panels iframe body{ margin:0;}

.cont-box-tit{ background:#f3eee9; border-bottom:solid 1px #dad0c4; border-top:solid 1px #fff; height:28px; line-height:28px; overflow:hidden; zoom:1;}
.cont-box-tit h3{ float:left; margin-left:20px; background:url(../images/sidebar-nav-icon.png) 0 9px no-repeat; padding-left:20px; font-weight:normal; font-size:12px; display:inline;}
.cont-box-tit a.arrows{ float:right; display:inline-block; background:url(../images/layout_arrows.png) -16px -16px no-repeat; margin:6px 15px 6px 0; width:16px; height:16px; vertical-align:top;}
.cont-box-tit a.hover{ background:url(../images/layout_arrows.png) -16px 0 no-repeat;}
.cont-box-tit a.arrows:hover{ background-color:#fff; -moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px;}
.cont-box-in{ padding:15px 20px; overflow:hidden; zoom:1;}
.cont-box-text tr{ height:26px; line-height:26px;}
.cont-box-text th{ font-weight:normal; text-align:right; color:#333; padding-right:5px;}
.cont-box-text td{ color:#666;}
.cont-box-text th, .cont-box-text td{ height:26px; line-height:26px; overflow:hidden;}
.cont-box-text td a{ color:#c15d00; text-decoration:underline;}
.cont-box-text td a:hover{ color:#ba2636;}

/*==box_form==*/
.cont-box-form{ width:790px; overflow:hidden; zoom:1;}
.cont-box-form .line{ padding:4px 0; overflow:hidden; zoom:1;}
.cont-box-form .line .short{ width:253px; float:left; line-height:26px;}
.cont-box-form .line label{ display:block; float:left; width:90px; text-align:right; height:26px; line-height:26px; white-space:nowrap; overflow:hidden; zoom:1;}
.cont-box-form .line label em{ font-style:normal; color:#f00; padding:0 5px;}
.cont-box-form .line input, .cont-box-form .line select, .cont-box-form .line textarea{ border:solid 1px #95b8e7; vertical-align:middle;}
.cont-box-form .line input{ height:20px; line-height:20px; width:148px; 
padding:0; text-indent:5px; float:left;
}
.cont-box-form .line-checkbox input{ float:none; margin:0 5px;}
.combo-text{ vertical-align:top!important; padding:0px!important; border:0 none!important; width:130px; text-indent:3px;}
.combo{ width:148px;}
.combo-p{ border:1px solid #ccc; border-top:0 none; background:#fff;}
.combobox-item{ padding-left:7px!important; cursor:pointer;}

.cont-box-form .line select{ padding:1px; height:26px; line-height:26px; width:144px; color:#666;}
.cont-box-form .line select.ml10 span.combo{ margin-left:10px;}
.cont-box-form .line textarea{ padding:3px; width:642px; height:132px; line-height:22px; margin:0;}
.cont-box-form .line .long input{ width:646px;}
.cont-box-form .line p.cl{ padding-left:90px; padding-top:2px; height:16px; line-height:16px; color:#777;}
.cont-box-form .line span{ color:#666; line-height:26px;}
.cont-box-form .btn{ margin:5px auto 10px; text-align:center;}
.cont-box-form .btn a input, .cont-box-form .btn a:hover input{ background:url(../images/button-img.png) no-repeat; border:0 none; width:72px; height:26px; margin:0 10px; vertical-align:middle; cursor:pointer;}
.cont-box-form .btn a:hover input.submit{ background-position:-23px -232px;}
.cont-box-form .btn a:hover input.return, .cont-list-form .btn a:hover input.return{ background-position:-23px -261px;}
.cont-box-form .btn a input.submit{ background-position:-105px -232px;}
.cont-box-form .btn a input.return, .cont-list-form .btn a input.return{ background-position:-105px -261px;}
.cont-box-form .btn a:hover input.add{ background-position:-23px 0;}
.cont-box-form .btn a:hover input.query{ background-position:-23px -319px;}
.cont-box-form .btn a input.add{ background-position:-105px 0;}
.cont-box-form .btn a input.query{ background-position:-105px -319px;}

.cont-box-form .line .long{ line-height:26px;} 

.cont-box-form .btn a:hover input.tijiao{ background-position:-23px -464px;}
.cont-box-form .btn a:hover input.fanhui{ background-position:-23px -493px;}

.cont-box-form .btn a input.tijiao{ background-position:-105px -464px; width:72px;}
.cont-box-form .btn a input.fanhui{ background-position:-105px -493px; width:72px;}


 .cont-box-form .line .long{ line-height:26px;}
.cont-box-form .line .long span.line-checkbox{ float:left; display:block;}
.cont-box-form .line .long span.ck80{ width:80px;}
.cont-box-form .line .long span.ck150{ width:150px;}
.cont-box-form .line .long span.line-checkbox input.c{ margin-right:2px; width:20px;}
.cont-box-form .line .long span.line-checkbox input.t{ border:0 none; border-bottom:solid 1px #ddd; background:none; font-size:12px; margin-left:5px; width:70px;}
.cont-box-form .line .formRad{ float:left;}
.cont-box-form .line .formRad input{ margin:0; border:0 none; width:auto; display:inline-block;}
.cont-box-form .line .formRad span{ display:inline-block; float:left; margin:0 10px 0 3px; height:22px; line-height:22px; vertical-align:middle;}
.cont-box-form .line .promisson{ border:1px #ccc solid; padding:10px; width:650px; float:left;}
.cont-box-form .line .promisson input{ margin:0 5px 0 15px; border:0 none; width:auto; display:inline-block; float:none;}

/*==tab==*/
.cont-box-tab{ text-align:center;}
.cont-box-tab tr.tit{ background:#fdd5b2; height:30px;}
.cont-box-tab tr.bg_f2{ background:#f2f2f2;}
.cont-box-tab th{ font-weight:normal;}
.cont-box-tab td{ height:24px; line-height:24px;}
.cont-box-tab td .w5{ width:110px; _width:114px;}
.cont-box-tab td .w4{ width:88px; _width:92px;}
.cont-box-tab td .w3{ width:66px; _width:70px;}
.cont-box-tab td .w2{ width:44px; _width:48px;}
.cont-box-tab td .w1{ width:22px; _width:26px;} 

.operation{ margin:0 auto;}
.operation a, .operation a:hover{ background:url(../images/operation-icon.png) no-repeat; margin:5px 4px; height:14px; width:14px; display:block; float:left; cursor:pointer;}
.operation a.bj{ background-position:0 0;}
.operation a.sc{ background-position:-15px 0;}
.operation a.cktp{ background-position:-30px 0;}
.operation a.ckxq{ background-position:-45px 0;}
.operation a.xz{ background-position:-60px 0;}
.operation a.ckrj{ background-position:-75px 0;}
.operation a.ckdt{ background-position:-90px 0;}
.operation a.ckjd{ background-position:-105px 0;}
.operation a.shtg{ background-position:-120px 0;}
.operation a.dsh{ background-position:-135px 0;}
.operation a.bc{ background-position:-150px 0;}
.operation a.zh{ background-position:-165px 0;}
.operation a.xf{ background-position:-180px 0;}
.operation a.openxf{ background-position:-195px 0;}
.operation a.lc{ background-position:-210px 0;}
.operation a.wj{ background-position:-225px 0;}
.operation a.cx{ background-position:-240px 0;}

.operation a.bj:hover{ background-position:0 -16px;}
.operation a.sc:hover{ background-position:-15px -16px;}
.operation a.cktp:hover{ background-position:-30px -16px;}
.operation a.ckxq:hover{ background-position:-45px -16px;}
.operation a.xz:hover{ background-position:-60px -16px;}
.operation a.ckrj:hover{ background-position:-75px -16px;}
.operation a.ckdt:hover, .operation a.yhdt:hover{ background-position:-90px -16px;}
.operation a.ckjd:hover{ background-position:-105px -16px;}
.operation a.shtg:hover{ background-position:-120px -16px;}
.operation a.dsh:hover{ background-position:-135px -16px;}
.operation a.bc:hover{ background-position:-150px -16px;}
.operation a.zh:hover{ background-position:-165px -16px;}
.operation a.xf:hover{ background-position:-180px -16px;}
.operation a.openxf:hover{ background-position:-195px -16px;}
.operation a.lc:hover{ background-position:-210px -16px;}
.operation a.wj:hover{ background-position:-225px -16px;}
.operation a.cx:hover{ background-position:-240px -16px;}

.operation a.none { background:none; margin:5px 4px; margin-top:3px; height:14px; width:14px; display:block; float:left; cursor:pointer;}


/*==page==*/
.cont-box-page{ padding:10px 0; text-align:left;}
.cont-box-page a{ margin:0 10px;}
.cont-box-page a:hover{ color:#ba2636;}
.cont-box-page span{ padding:0 10px;}
.cont-box-page input.page{ border:solid 1px #ccc; width:30px; height:16px; line-height:16px; text-align:center; margin:0 6px;}
.cont-box-page input.btn{ cursor:pointer; height:22px;}

/*==list_form==*/
#ToolBar{ padding:0;}
.cont-list {
    width: 100%;
    height: 100%;
}
.cont-list-form{ padding:10px 0 5px 10px; overflow:hidden; zoom:1;}
.cont-list-form .box{ float:left;}
.cont-list-form .w238{ width:238px;}
.cont-list-form .w456{ width:476px;}
.cont-list-form .w684{ width:714px;}
.cont-list-form .line .short{ width:238px!important;}
.cont-list-form .line label{ width:80px!important;}
.cont-list-form .line p.cl{ padding-left:70px;}

.cont-list-form .btn{ margin:0 0 0 0; float:left;}
.cont-list-form .w72{ width:72px; height:64px; margin-left:4px;}
.cont-list-form .w155{ width:155px; height:26px; margin-left:10px; margin-top:3px;}
.cont-list-form .w72 a input, .cont-list-form .w72 a:hover input{ margin:3px 0!important;}
.cont-list-form .w155 a input.reset{ margin-left:11px!important;}
.cont-list-form .btn a input, .cont-list-form .btn a:hover input{ background:url(../images/button-img.png) no-repeat; border:0 none; width:72px; height:26px; cursor:pointer; margin:0; float:left;}
.cont-list-form .btn a:hover input.query{ background-position:-23px -319px;}
.cont-list-form .btn a:hover input.reset{ background-position:-23px -377px;}
.cont-list-form .btn a input.query{ background-position:-105px -319px;}
.cont-list-form .btn a input.reset{ background-position:-105px -377px;}

/*==function==*/
.function-box{ background:#f6eadd; border-top:solid 1px #e8d1b9; padding:7px 5px; height:26px; clear:both; overflow:hidden; zoom:1;}
.function-box a input, .function-box a:hover input{ background:url(../images/button-img.png) no-repeat; border:0 none; height:26px; margin-left:5px; vertical-align:middle; cursor:pointer;}
.function-box a:hover{ text-decoration:none;}
.function-box a:hover input.modify{ background-position:-23px -87px;}
.function-box a:hover input.add, .cont-box-form .btn a:hover input.add{ background-position:-23px 0;}
.function-box a:hover input.delete{ background-position:-23px -29px;}
.function-box a:hover input.batch_del{ background-position:0 -58px;}
.function-box a:hover input.check{ background-position:0 -116px;}
.function-box a:hover input.import{ background-position:-23px -145px;}
.function-box a:hover input.export{ background-position:-23px -174px;}
.function-box a:hover input.query{  background-position:-23px -319px;}
.function-box a:hover input.superSearch{ background-position:0 -348px;}
.function-box a:hover input.btn-lg, a:hover input.btn-lg{ background-position:0 -406px; color:#000;}
.function-box a:hover input.btn-sm, a:hover input.btn-sm{ background-position:-23px -435px; color:#000;}
.function-box a input.tijiao{ background-position:-23px -464px;}
.function-box a input.fanhui{ background-position:-23px -464px;}


a input.btn-lg{ background:url(../images/button-img.png) -105px -406px no-repeat!important; border:0 none!important; height:26px!important; width:95px!important; margin-left:5px; vertical-align:middle; cursor:pointer; color:#fff;}
a input.btn-sm{ background:url(../images/button-img.png) -105px -435px no-repeat!important; border:0 none!important; height:26px!important; width:72px!important; margin-left:5px; vertical-align:middle; cursor:pointer; color:#fff;}

.function-box a input.modify{ background-position:-105px -87px; width:72px;}
.function-box a input.add, .cont-box-form .btn a input.add{ background-position:-105px 0; width:72px;}
.function-box a input.delete{ background-position:-105px -29px; width:72px;}
.function-box a input.batch_del{ background-position:-105px -58px; width:95px;}
.function-box a input.check{ background-position:-105px -116px; width:95px;}
.function-box a input.import{ background-position:-105px -145px; width:72px;}
.function-box a input.export{ background-position:-105px -174px; width:72px;}
.function-box a input.query{background-position:-105px -319px; width:72px;}
.function-box a input.superSearch{ background-position:-105px -348px; width:95px;}
.function-box a input.btn-lg{ background-position:-105px -406px; width:95px; color:#fff;}
.function-box a input.btn-sm{ background-position:-105px -435px; width:72px; color:#fff;}
.function-box a input.tijiao{ background-position:-105px -464px; width:72px;}
.function-box a input.fanhui{ background-position:-105px -464px; width:72px;}

/*==kuaijie-icon==*/
.sideder-right{ background:#fff7f0; padding:20px 0; overflow:hidden; zoom:1;}
.sideder-right li{ margin-bottom:10px;}
.sideder-right li a{ display:block; width:60px; margin:0 auto; padding-top:48px; text-align:center;}
.sideder-right li a:hover{ color:#ba2636;}
.kjicon-jlrz{ background:url(../images/kjicon-jlrz.png) center 0 no-repeat;}
.kjicon-ybgz{ background:url(../images/kjicon-ybgz.png) center 0 no-repeat;}
.kjicon-dbgz{ background:url(../images/kjicon-dbgz.png) center 0 no-repeat;}

.datagrid-toolbar, .datagrid-pager {
    background: none repeat scroll 0 0 rgba(207, 207, 208, 0.00);
}

/*==index==*/
.panel-index{ padding:10px 15px; overflow:hidden; zoom:1;}
.mr5{ margin-right:5px;}
.ml5{ margin-left:5px;}
.wb50{ width:50%;}
.h132{ height:132px;}
.mid-box{ border:1px solid #d6c8b9;}
.mid-box-tit{ background:url(../images/mid-box-tit.png) repeat-x; height:29px; line-height:29px;}
.mid-box-tit h2{ font-weight:bold; font-size:12px; padding-left:10px;}
.mid-box-cont{ padding:15px; overflow:hidden; zoom:1; position:relative;}
.mid-img{ background-color:#fff; border-radius:3px; box-shadow:0px 0px 5px #BBB; -moz-box-shadow:0px 0px 5px #bbb; -webkit-box-shadow:0px 0px 5px #BBB; border:1px solid #ddd\9; padding:4px; width:77px; position:absolute; left:15px; top:15px;}
.mid-img img{ display:block; width:77px; height:77px; overflow:hidden;}
.mid-txt{ padding-left:105px;}
.mid-prompt{ background-color:#e7eff8; border:1px solid #c0cfe3; padding:10px 15px; margin-bottom:10px; overflow:hidden; zoom:1; position:relative;}
.mid-prompt i{ font-style:normal; display:block; background:url(../images/prompt-icon.png) center center no-repeat; width:18px; height:27px; position:absolute; left:14px; top:50%; margin-top:-14px;}
.mid-prompt p{ color:#36567f; padding-left:35px;}
.mid-prompt p b{ color:#f00;}
.txtlist li{ background:url(../images/txtlist-icon.png) 0 8px no-repeat; padding-left:15px; height:22px; line-height:22px; vertical-align:middle; overflow:hidden;}

/*===APP===*/
.appbanner-bg{ background:url(../images/appbg.jpg) no-repeat; height:520px; width:100%; min-width:900px; margin:1px 0;}
.appbanner{ width:930px; height:520px; margin:0 auto; position:relative;}
.detail{ padding:45px 0 0 30px;}
.detail .version{ background:url(../images/app-img.png) -269px 0 no-repeat; width:66px; height:32px; line-height:24px; color:#fff; font-size:16px; text-align:center; float:right; font-family:"Microsoft YaHei";}
.detail h1{ margin: 0 0 10px 0; white-space: nowrap; font-size: 50px; line-height: 70px; height: 70px; clear: both; font-weight: normal; color: #595959; font-family: "Microsoft YaHei",sans-serif;}
.detail h2{ margin: 0 0 10px 0; background:url(../images/app-img.png) 0 0 no-repeat; width: 240px; height: 34px; text-indent: -200%; overflow: hidden;}
.detail .download-app{ position: relative; margin: 0 0 15px 0; overflow:hidden; zoom:1;}
.detail .download-app .ml10{ margin-left: 10px;}
.appDwn{ position: relative; margin: 0 0 15px 0; overflow:hidden; zoom:1;}
.appCode{ background:#fe9501; padding:25px 25px 5px;; width:200px; height:242px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align:center; overflow:hidden; zoom:1;}
.appCode img{ display:block; width:200px; height:200px; overflow:hidden; zoom:1;}
.appCode span{ display:block; color:#fff; font-family:"微软雅黑"; font-size:16px; line-height:42px;}
.appAbout{ width:216px; height:140px; margin-left:10px;}
.appBtn a{ display:block; background:url(../images/app-img.png) no-repeat; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width: 216px; height: 56px;}
.appBtn a.add{ background-position: 0 -52px;}
.appBtn a.ios{ background-position: -228px -52px;}
.appBtn a:hover{ -webkit-box-shadow: 5px 3px 5px rgba(0,0,0,0.2) inset; -moz-box-shadow: 5px 3px 5px rgba(0,0,0,0.2) inset; box-shadow: 5px 3px 5px rgba(0,0,0,0.2) inset;}
.appTxt{ background:url(../images/apptxt-bg.png) no-repeat; padding:15px 0 6px; width:216px; height:54px; position:relative; clear:both;}
.appTxt p{ padding-left:10px; line-height:18px;}
.appTxt p span{ color:#666;}
.mobile{ background:url(../images/mobile.png) no-repeat; width:377px; height:468px; position:absolute; right:0; bottom:0;}
.andrtxt{ width:216px; float:left;}
.iostxt{ width:291px; float:left; margin-left:10px;}

/*===photoList===*/
.photoMain{ padding:20px; overflow:hidden; zoom:1;}
.photoList li{ float:left; margin:0 15px 15px 0; width:172px; height:159px; border:1px #ddd solid; background:#fff; padding:5px 5px 0; border-bottom-width:2px; position:relative;}
.photoList li a{ display:block; width:172px; height:129px; overflow:hidden;}
.photoList li a img{ display:block; overflow:hidden;}
.photoList li:hover{ background:#f6eadd; color:#333; text-decoration:none;}
.photoList li p{ height:34px; line-height:34px; overflow:hidden;}
.photoList li p span{ display:inline-block; height:34px;}
.photoList li em, .photoList li i{ font-style:normal; display:inline-block; position:absolute;}
.photoList li em{ font:500 28px/24px Arial; color:#fff; right:10px; bottom:36px;}
.photoList li i { background:#019dd8; padding:0 3px; font:600 12px/18px Arial; color:#fff; right:5px; top:5px;}
.photoList li p span{ display:inline-block; height:34px;}
.photoList li em, .photoList li i{ font-style:normal; display:inline-block; position:absolute;}
.photoList li em{ font:500 28px/24px Arial; color:#fff; right:10px; bottom:36px;}
.photoList li i { background:#019dd8; padding:0 3px; font:600 12px/18px Arial; color:#fff; right:5px; top:5px;}

/* dhh2014-07-31 */
.basicTit{ margin-bottom:15px; height:40px;}
.basicTit span, .basicTit em, .basicTit a{ display:block; float:left;}
.basicTit span{ background:#ccc; border-radius:10px; margin:10px 0; width:20px; height:20px;}
.basicTit em{ background:url(../images/longArrow.png) right 0 no-repeat; margin:15px 3px; width:40px; height:10px;}
.basicTit a{ background:#ddd; width:80px; height:40px; text-align:center; font:500 14px/40px "Microsoft YaHei";}
.basicTit a.green{ background:#007c00; color:#fff;}
.basicTit a.orange{ background:#ff6634; color:#fff;}
.basicTab{ border:1px solid #ccc; padding:20px; width:800px; position:relative; font-family: "Microsoft YaHei"}
.basicTab em.arrow{ display:block; background:url(../images/basicInArrow.png) no-repeat; width:18px; height:9px; position:absolute; top:-9px;}
.basicTab em.one{ left:97px;}
.basicTab em.two{ left:223px;}
.basicTab em.three{ left:349px;}
.basicTab em.four{ left:475px;}
.basicTab em.five{ left:601px;}
.basicTab em.six{ left:727px;}
.basicLch h4{ margin:0 0 10px; font:500 14px/20px "Microsoft YaHei";}
.basicMain{ padding:15px 0; overflow:hidden; zoom:1; position:relative;}
.basicMod{ padding:0 20px 15px; height:95px; position:relative; z-index:99;}
.basicBtn{ text-align:center; height:20px; margin-bottom:5px;}
.basicBtn em{ display:inline-block; background:#bbb; border-radius:10px; width:20px; height:20px;}
.green .basicBtn em{ background:#007c00;}
.orange .basicBtn em{ background:#ff6634;}
.cyan .basicBtn em{ background:#00cccb;}
.green a.name{ color:#007c00;}
.orange a.name{ color:#ff6634;}
.cyan a.name{ color:#00cccb;}
.basicMod a.name, .basicMod span{ display:block;}
.basicMod a.name{ font:500 14px/22px "Microsoft YaHei";}
.basicMod span{ line-height:16px; color:#999;}
.basicLine{ background:url(../images/longArrow.png) right 0 no-repeat; height:10px; position:absolute; z-index:90;}
.w600{ width:680px; right:0; top:75px;}
.w800{ width:800px; right:0; top:20px;}
.basicLeft{ width:120px; height:220px; position:relative;}
.basicLeft-line{ border:1px solid #666; border-left-width:0; width:119px; height:108px; position:absolute; left:0; top:10px; z-index:90;}
.basicRight{ width:650px; padding:55px 0 0 30px;}
.basicTop .basicLine{ background-position:left 0; width:800px; left:0; top:20px;}
.basicBtm .basicLine{ background-position:left -10px; width:800px; right:0; top:130px; }

.basicLch p{ font-size:14px;}
.basicLch p span{ font-weight:700;}
.green{ color:#007c00;}
.orange{ color:#ff6634;}
.gray{ color:#666;}
.cyan{ color:#00cccb;}

.basicPc{ text-align:right; line-height:22px; padding-top:10px;}
.basicPc span{ display:inline-block; font-weight:700; margin-right:10px;}
.basicPc span em{ display:inline-block; width:40px; height:20px; line-height:20px; margin-right:5px; vertical-align:middle;}
.basicPc span.green{ color:#007c00;}
.basicPc span.orange{ color:#ff6634;}
.basicPc span.gray{ color:#666;}
.basicPc span.cyan{ color:#00cccb;}
.basicPc span.green em{ background:#007c00;}
.basicPc span.orange em{ background:#ff6634;}
.basicPc span.gray em{ background:#ddd;}
.basicPc span.cyan em{ background:#00cccb;}

/*view页面样式 Begin*/
.formtables
{
    width: 100%;
    border-collapse: collapse;
}
.formtables tr th,.traceTable tr th
{
    height: 24px;
    line-height: 24px;
    padding: 2px;
    text-align: right;
    background: #FFF0F0; /*  background-color: #ECECEC;*/
    border: 1px solid #fff;
}
.formtables tr td,.traceTable tr td
{
    height: 24px;
    line-height: 24px;
    padding: 2px;
    text-align: left;
    background: #FFF7F0; /*  background-color: #ECECEC;*/
    border: 1px solid #fff;
}
.borderCommon{ border:solid 1px #95b8e7; vertical-align:middle;}
.inputCommonCss{ height:20px; width:140px; padding:0 1px; text-indent:5px;}

.cont-box-form .line input.input-chk{ width:12px; margin:2px 4px 0 5px; border:0 none; float:none;}