@charset "utf-8";
/* CSS Document */
body { font-size: 12px; line-height: 22px; color: #333; font-family: 微软雅黑; text-align: left; background: #fff; }
body, div, ul, ol, li, dl, dt, dd, span, p, h1, h2, h3, img, form, table, tr, td, th, label { margin: 0; padding: 0; }
img { border: 0 none; }
ul, ol, li { list-style-type: none; }
a { text-decoration: none; color: #333; cursor: pointer; }
    a:hover { text-decoration: none; color: #ba2636; }
.ovh { overflow: hidden; zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.cl { clear: both; }


.page-body { width: 100%; }
/*form 表单样式：AR.Form*/
.page-title { height: 50px; line-height: 50px; overflow: hidden; zoom: 1; }
    .page-title h3 { margin-left: 20px; background: url(images/sidebar-icon.png) 0 2px no-repeat; padding-left: 20px; font-weight: normal; font-size: 12px; display: inline; font-size: 14px; color: #3d9cd0; margin-top: 5px; }
    .page-title a.arrows { float: right; display: inline-block; background: url(images/layout_arrows.png) -16px -16px no-repeat; margin: 16px 15px 6px 0; width: 16px; height: 16px; vertical-align: top; }
    .page-title a.hover { background: url(images/layout_arrows.png) -16px 0 no-repeat; }
    .page-title a.arrows:hover { background-color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right:; }

.page-content { padding: 28px 20px; zoom: 1; }



/*==通用表单样式：AR.Form和dg.Search==*/
.page-form { width: 100%; zoom: 1; }
    .page-form .line { padding: 0 0 0 0; zoom: 1; clear: both; }
        .page-form .line .short { float: left; line-height: 26px; }
        .page-form .line label { float: left; width: 90px; text-align: right; height: 26px; line-height: 26px; white-space: nowrap; overflow: hidden; zoom: 1; }
            .page-form .line label em { font-style: normal; color: #f00; padding: 0 5px; }
        .page-form .line input { width: 500px; display: block; }
        .page-form .line input, .page-form .line select, .page-form .line textarea { border: solid 1px #95b8e7; vertical-align: middle; }
        .page-form .line input { height: 28px !important; line-height: 28px !important; width: 148px; padding: 0; text-indent: 5px; float: left; margin-bottom: 12px; border-radius: 4px; -webkit-animationborder-radius: 4px; -o-border-radius: 4px; }


        .page-form .line select { padding: 1px; height: 26px; line-height: 26px; width: 144px; color: #666; }
            .page-form .line select.ml10 span.combo { margin-left: 10px; }
        .page-form .line textarea { padding: 3px; width: 642px; height: 132px; line-height: 22px; margin: 0; }
        .page-form .line p.cl { padding-left: 90px; padding-top: 2px; height: 16px; line-height: 16px; color: #777; }
        .page-form .line span { color: #666; line-height: 28px; height: 28px !important; }


        .page-form .line .long { line-height: 26px; display: inline-block; margin-bottom: 10px; }
            .page-form .line .long span.line-checkbox { float: left; display: block; }
            .page-form .line .long span.ck80 { width: 80px; }
            .page-form .line .long span.ck150 { width: 150px; }
            .page-form .line .long span.line-checkbox input.c { margin-right: 2px; width: 20px; }
            .page-form .line .long span.line-checkbox input.t { border: 0 none; border-bottom: solid 1px #ddd; background: none; font-size: 12px; margin-left: 5px; width: 70px; }

        /*单选和权限：菜单管理*/
        .page-form .line input#menuname { width: 70% !important; margin-bottom: 1%; }
        .page-form .line input#menuurl { width: 70% !important; margin-bottom: 1%; }
        .page-form .line input#sortorder { width: 70% !important; }
        .page-form .line .formRad { width: 79% !important; margin-bottom: 1%; }
    .page-form .line-checkbox input { float: none; margin: 0 5px; }
    .page-form .line .formRad { float: left; }
        .page-form .line .formRad input { margin: 0; border: 0 none; width: auto; display: inline-block; }
        .page-form .line .formRad span { display: inline-block; float: left; margin: 0 10px 0 3px; height: 22px; line-height: 22px; vertical-align: middle; }
    .page-form .line #permission { border: 1px #ccc solid; padding: 10px; width: 78%; float: left; }
        .page-form .line #permission input { margin: 0 5px 0 15px; border: 0 none; width: auto; display: inline-block; float: none; }

/*easyui 的下拉框样式调整*/
.combo-text { vertical-align: top!important; padding: 0px!important; border: 0 none!important; width: 130px; text-indent: 3px; }
.combo { width: 148px; }
.combo-p { border: 1px solid #ccc; border-top: 0 none; background: #fff; }
.combobox-item { padding-left: 7px!important; cursor: pointer; }

/*按钮样式*/
.btn { margin-top: 10px; text-align: center; clear: both; }
    .btn input { background: url(images/button1-img.png) no-repeat; border: 0 none; width: 72px; height: 26px; margin: 0 10px; vertical-align: middle; cursor: pointer; }
        .btn input.submit { background-position: -106px -561px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
        .btn input.return { background-position: -106px -527px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
        .btn input.add { background-position: -105px 0; }
        .btn input.query { background-position: -105px -319px; }

/*主键操作按钮样式：dg.PKColumn*/
.operation { margin: 0 auto; }
    .operation a, .operation a:hover { background: url(images/icon04.png) no-repeat; margin: 5px 4px; height: 14px; width: 14px; display: block; float: left; cursor: pointer; }
        .operation a.save { background-position: -143px -124px; }
        .operation a.edit { background-position: -31px -124px; }
        .operation a.del { background-position: -55px -125px; }
        .operation a.detail { background-position: -83px -124px; }
        .operation a.cancel { background-position: -115px -124px; }
        .operation a.none { background: none; margin: 5px 4px; margin-top: 3px; height: 14px; width: 14px; display: block; float: left; cursor: pointer; }


/*==dg.Search 里的 列表==*/

.grid-search { width: 100%; height: 100%; }
    .grid-search .w238 { width: 238px; }
    .grid-search .w456 { width: 476px; }
    .grid-search .w684 { width: 96%; }

    .grid-search .line .short { margin-top: 10px; }
    .grid-search .line p.cl { padding-left: 70px; }

    .grid-search .btn { margin: 0; float: left; clear: none; }
    .grid-search .w72 { margin-bottom: 1%; margin-top: 6px; margin-left: 4%; }

    .grid-search .w155 { width: 155px; height: 26px; margin-left: 10px; margin-top: 3px; }
    .grid-search .w72 a input, .grid-search .w72 a:hover input { margin: 3px 0!important; }
    .grid-search .w155 a input.reset { margin-left: 11px!important; }
    .grid-search .btn a input, .grid-search .btn a:hover input { background: url(images/btn03.png) no-repeat; border: 0 none; width: 66px; height: 27px; cursor: pointer; margin: 0; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
    .grid-search .btn a input, .grid-search .btn input:hover { background: url(images/btn04.png) no-repeat; border: 0 none; width: 66px; height: 27px; cursor: pointer; margin: 0; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
    .grid-search .btn a:hover input.query { background-position: -445px -27px; }
    .grid-search .btn a:hover input.reset { background-position: -545px -27px; }
    .grid-search .btn a input.query { background-position: -445px -27px; }
    .grid-search .btn a input.reset { background-position: -545px -27px; }

/*==工具栏区：dg.ToolBar==*/
.grid-toolbar { background: #EFF4F7; border-top: solid 1px #F3E8E8; border-bottom: solid 1px #F3E8E8; padding: 7px 5px; height: 35px; clear: both; overflow: hidden; zoom: 1; }
    .grid-toolbar a input, .grid-toolbar a:hover input { background: url(images/btn03.png) no-repeat left top; border: 0 none; height: 32px; margin-left: 5px; width: 800px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; vertical-align: middle; cursor: pointer; }
    .grid-toolbar a input, .grid-toolbar a:hover { background: url(images/btn04.png) no-repeat left top; }

    .grid-toolbar a:hover { text-decoration: none; }
    .grid-toolbar a input.query { background: url(images/icon02.png) no-repeat; background-position: -49px -79px; float: right; margin-top: 10px; width: 12px; height: 11px; margin-right: 72px; }
        .grid-toolbar a input.query:hover { background: url(images/icon02.png) no-repeat; background-position: -31px -79px; }
a input.btn-lg { background: #4797e9; font-size: 14px; height: 28px!important; width: auto !important; vertical-align: middle; cursor: pointer; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin-top: 5px; }
    a input.btn-lg:hover { background: #4797e9; font-size: 14px; height: 28px!important; width: auto !important; vertical-align: middle; cursor: pointer; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin-top: 5px; text-decoration: none; }
.grid-toolbar a input.btn-sm { background: #f99700; width: 71px; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 14px; margin-left: 8px; height: 29px; margin-top: 3px; margin-right: 5px; }
    .grid-toolbar a input.btn-sm:hover { background: #4797e9; }

.grid-toolbar a input.modify { background-position: -105px -87px; width: 72px; }
.grid-toolbar a input.add, .page-form .btn a input.add { background-position: -29px -24px; width: 75px; }
.grid-toolbar a input.delete { background-position: -319px -23px; width: 83px; }

.grid-toolbar a input.batch_del { background-position: -323px -23px; width: 75px; }
.grid-toolbar a input.check { background-position: -105px -116px; width: 75px; }
.grid-toolbar a input.import { background-position: -125px -24px; width: 75px; }
.grid-toolbar a input.export { background-position: -224px -24px; width: 75px; }
.grid-toolbar a input.superSearch { background-position: -105px -348px; width: 75px; }
.grid-toolbar a input.btn-sm { width: 71px; color: #fff; height: 29px !important; margin-top: 3px; margin-right: 5px; }

.grid-toolbar a input.submit { background-position: -105px -464px; width: 71px; }
.grid-toolbar a input.return { background-position: -105px -464px; width: 71px; }


/*dg.ToolArea 控制easyui的工具区、分页条的背景色为白色 rgba(207, 207, 208, 0.00)*/
.datagrid-toolbar, .datagrid-pager { background: none repeat scroll 0 0 #fff; padding: 0px; }

/*树形菜单样式*/
.tree { border-right: 1px solid #3d9cd0; border: 1px solid #ccc; background: rgba(161, 199, 239, 0.1); padding: 10px 6px 3px 6px; margin-top: 1%; }
.page-content > from { padding-top: 26px; padding-bottom: 33px; width: 100% !important; border: 1px solid #e0ecff; height: auto; }
.tree-node-selected { background: #eaf2ff !important; }
.tree-node { padding-bottom: 6px; }


.page-form .line span { color: #666; line-height: 28px; height: 28px !important; border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; }

/*调用$(xx).toView()后的样式*/
.textvalue { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 3px; vertical-align: top; }

/*强制修改 easy ui里面样式。。。。。   */

.datagrid-row-selected { background: #e0ecff !important; color: #333; }
.datagrid-body .datagrid-editable .datagrid-editable-input { text-align: center !important; }
.datagrid-cell-c1-Title { text-align: center !important; }
.datagrid-cell-c1-Field { text-align: center !important; }
