body {
}
.my97-wrap{
    border: 1px solid #95B8E7;
    background-color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}
.my97-text{
    font-size: 12px;
    border: 0px;
    line-height: 20px;
    width:109px;
    height: 20px;
    margin: 0;
    padding: 0px 2px;
    *margin-top: -1px;
    *height: 18px;
    *line-height: 18px;
    _height: 18px;
    _line-height: 18px;
    vertical-align: baseline;
}
.my97-arrow{
    background: url('images/datebox_arrow.png') no-repeat center center;
    background-color: #E0ECFF;
    width: 18px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.my97-arrow-hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}