<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--框架数据库-->
    <add name="AriesConn" connectionString="txt path={0}App_Data\\TxtDB" />
    <!--MSSQL 业务库 链接示例-->
    <!-- <add name="DemoConn" connectionString="Server=.;Database=Demo;Uid=sa;Pwd=123456" />-->
    <!--Oracle 业务库 链接示例-->
    <!--<add name="Conn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT = 1521)))(CONNECT_DATA =(SID = Aries)));User ID=sa;password=123456" />-->
    <!--MySql 链接示例-->
    <!--<add name="Conn" connectionString="host=127.0.0.1;Port=3306;Database=aries;Uid=root;Pwd=123456;Charset=utf8" />-->
    
  </connectionStrings>
  <appSettings>
    <add key="DefaultUrl" value="login.html" />
    <!--新框架临时变更为子应用程序所需要设置的前缀-->
    <!--<add key="UI" value="/admin" />-->
    <!--CYQ.Data.Log 记录日志到Logs文件夹下-->
    <add key="IsWriteLog" value="true" />
    <!--包含以下路径的都需要登陆-->
    <add key="CheckTokenPath" value="/web/,/index.html" />
    <!--转义Json输出特殊符号，避免前端解析json失败-->
    <add key="JsonEscape" value="Yes"/>
    <!--<add key="Aries.Suffix" value=".html"/>-->
    <!--打开调整：Debug时可获取到Sql语句
    <add key="OpenDebugInfo" value="true" />-->
    <!--CYQ.Data.Log 记录日志到数据库中
    <add key="LogConn" value="Conn" />
    <add key="LogTableName" value="Sys_Logs"/>-->
    <!--是否关闭自动缓存
    <add key="IsAutoCache" value="false"/> -->
    <!--以下表不会被缓存
    <add key="NoCacheTables" value="Demo_TestA,Demo_TestB" /> -->
    <!--以下表的字段更新时，不会清空缓存,Json格式的配置{表A:'字段1，字段2',表2:'字段...'}
    <add key="IngoreCacheColumns" value="{Sys_User:'LoginCount'}" />  -->
    <!--Aop拦截数据库操作请求-->
    <!--<add key="Aop" value="Aries.Logic.Aop,Aries.Logic"/>-->
    
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" maxRequestLength="1024000000" executionTimeout="30000000" />
    <compilation debug="true" targetFramework="4.0"></compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces></namespaces>
    </pages>
    <customErrors mode="Off"></customErrors>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpModules>
      <!--Aries IIS应用程序池：经典模式（下运行，开启此配置）-->
    <add name="Aries.Core" type="Aries.Core.UrlRewrite,Aries.Core" />
    </httpModules>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.html" />
      </files>
    </defaultDocument>
    <modules>
      <!--Aries IIS应用程序池：集成模式（下运行，开启此配置）
      <add name="Aries.Core" type="Aries.Core.UrlRewrite,Aries.Core" />-->
    </modules>
    <!--<handlers>
      <add name="Aries_html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>-->
  </system.webServer>
</configuration>